.saved-news {
    background-color: #fff;
}

.saved-news__text-container {
    background-color: #fff;
    margin: 40px auto 56px 104px;
}

.saved-news__title {
    max-width: 530px;
    margin: 0 0 30px 0;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    font-weight: normal;
    color: #1A1B22;
}

.saved-news__breadcrumbs {
    margin: 0 0 28px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: #1A1B2250;
}

.saved-news__keywords{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: #1A1B22;
}

.saved-news__container {
    padding: 62px 104px;
    background-color: #F5F6F7;
}